.main-container, .settings-container {
  display: flex;
  flex-direction: column;
}

.hide-content {
  display: none;
}

.query-section {
  height: auto;
}

.editor-form-field {
  display: block;
  cursor: text;
}

.timeout-form-field {
  width: 10em;
}
