// codemirror styles
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/idea';
@import '~codemirror/addon/hint/show-hint';

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-container {
  flex: 70 30 70%;

  display: flex;
  flex-direction: column;
}

.template-container {
  flex: 30 70 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;

  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 1em;
  padding: 0.3em;
}

.timeout {
  width: 10em;
}

.query {
  margin-bottom: 1.25em;
  height: auto;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: 100%;
  overflow-x: scroll;
}

.autocomplete-hint {
  display: flex;
  justify-content: flex-end;
}

.info-section > * {
  margin-top: 0.5em;
}

.spaced-out {
  margin-left: 1em;
}

.template-button {
  width: 100%;
}
