// codemirror styles
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/idea';
@import '~codemirror/addon/hint/show-hint';

.container {
  display: flex;
  flex-direction: column;
}

.timeout {
  width: 10em;
}

.query {
  margin-bottom: 1.25em;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.hint {
  display: flex;
  justify-content: flex-end;
}
